:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9e6dc2;
    --white: #fff;
    --light-purple: #fbf6ff;
    --green: #4fff4b;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--light-purple);
    display: flex;
    flex-direction: column;
    width: 100vw;
}

header {
    background-color: var(--dark-bg);
    display: grid;
    grid-template-areas: 
    "nav nav"
    "desc photo";
    grid-template-rows: minmax(100px,1fr) minmax(300px, 3fr);
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    color: var(--white);
}

nav {
    grid-area: nav;
    background-color: rgba(255, 0, 0, 0.1);
}

#intro-desc {
    grid-area: desc;
    background-color: rgba(145, 255, 0, 0.1);
}

#intro-photo {
    grid-area: photo;
    background-color: rgba(0, 102, 255, 0.1);
}