:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9e6dc2;
    --white: #fff;
    --light-purple: #fbf6ff;
    --green: #4fff4b;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--light-purple);
}

header {
    background-color: var(--dark-bg);
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    padding: 0 8%;
    justify-content: center;
}

nav {
    background-color: rgba(45, 97, 192, 0.377);
    color: white;
    height: 100px;
    width: 100%;
    max-width: 1245px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-links > ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.navbar-links li {
  padding: 10px;
}

.navbar-links a:link, .navbar-links a:visited {
  color: var(--white);
  text-decoration: none;
}

/* ------------------------------------------------ */
nav form { 
  display: flex;
}

nav input[type=search] {
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  background-color: var(--purple-bg);
  color: var(--white);
  width: 150px;
}

nav button[type=submit] {
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  background-color: var(--button-bg);
}


/* ------------------------------------------------- */


#intro {
    width: 100%;
    display: flex;
    flex-direction: row;
    max-width: 1245px;
}

#intro-desc {
    display: flex;
    flex-direction: column;
    padding: 25px 85px 25px 25px;
    flex: 50%;
    background-color: rgba(192, 45, 148, 0.377);
}

#intro-photo {
    padding: 25px;
    display: flex;
    flex: 50%;
    background-color: rgba(69, 192, 45, 0.377);
    justify-content: flex-end;
}

#intro-photo img {
  max-width: 100%;
  height: fit-content;
}



main { 
  background-color: var(--light-purple);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 8%;
  justify-content: center;
}



#main-posts {
  flex: 100%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(192, 45, 148, 0.377);
  max-width: 1245px;
}

#main-posts .post {
  flex: 50%;
  padding: 25px;

}

.post > p:nth-child(2) {
  color: red;
}

#main-posts > div:nth-child(1) > img:nth-child(1) {
  max-width: 100%;
}

.no-photo > img:nth-child(1){
  display: none;
}

#main-photoless {
  background-color: rgba(180, 45, 192, 0.377);
  flex: 50%;
  padding: 0 0 0 60px;
}



#old-posts {
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(69, 192, 45, 0.377);
  max-width: 1245px;
}

.old-post {
  flex: 33%;
  padding: 25px;
}

.old-post > img {
  max-width: 100%;
}

footer {
  margin-top: auto;
  display: flex;
  background-color: var(--dark-bg);
  height: 5rem;
  align-items: center;
  justify-content: center;
  color: white;
  font: 18px Arial;
}

@media only screen and (max-width: 768px) {
    .navbar-links {
      display: none;
      top: 100px;
      position: absolute;
      left: 0;
      background-color: black;
      width: 100%;
    }
    .navbar-links ul {
      display: unset;
    }
    .navbar-links li {
      padding: 25px;
      border-top: 1px solid var(--white);
    }
    .navbar-links li:last-child {
      border-bottom: 1px solid var(--white);
    }
    
    #searchField {
      display: none;
    }
    nav button[type="submit"] {
      border-radius: 100%;
    }

}

@media only screen and (max-width: 576px) {
    header, main {
      padding: 0;
    }
    #intro-desc, .old-post, .with-photo, .no-photo, #main-posts .post, #main-photoless {
        flex: 100%;
    }
    #main-photoless {
      padding: 0;
    }
    #intro-desc {
      padding: 25px;
    }
    #intro-photo {
      display: none;
    }
    #intro {
      flex-wrap: wrap;
    }
}